Assingment Day 2

1.Try to Reverse a list

In [1]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , [234,6657,6] , {"key1":"python" , 234:[23,45,656]}]

In [2]:
l[::-1]

[{'key1': 'python', 234: [23, 45, 656]},
 [234, 6657, 6],
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [3]:
reversed_list= l[::-1]
print(reversed_list)

[{'key1': 'python', 234: [23, 45, 656]}, [234, 6657, 6], [345, 56, 87, 8, 98, 9], [23, 456, 67, 8, 78, 78], 7, 6, 5, 4, 3]

2.Try to access 234 out of this list

In [4]:
l[7][0]

234

3.Try to Access 456

In [5]:
l[5][1]

456

4.Try to extract only a list collection form list l

In [6]:
list_elements = []
for item in l:
    if type(item) == list:
        list_elements.append(item)
print(list_elements)

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9], [234, 6657, 6]]

5.Try to extract "python"

In [7]:
l[8]['key1']

'python'


6.Try to list all the key in dict element available in list

In [8]:
dict_keys = l[8].keys()  
print(list(dict_keys))

['key1', 234]

7.Try to extract all the value element form dict available in list

In [9]:
dict_values= l[8].values()
print(list(dict_values))

['python', [23, 45, 656]]

#### Assingment 2

1.	Given a list of integers, remove all occurrences of a specific value using a list method.

In [11]:
list = [1, 2, 3, 4, 3, 5, 3, 6]
value_to_remove = 3
while value_to_remove in list:
    list.remove(value_to_remove)

print(list)

[1, 2, 4, 5, 6]

2.	Concatenate a list of strings into a single string, with each element separated by a space, using a list method.

In [13]:
words = ["Hello", "world", "this", "is", "Python"]
result = " ".join(words)
print(result)

Hello world this is Python

3.	Reverse a list of integers using a built-in list method.

In [14]:
l = [1,2,3,4,5,6,7,8,9]
l.reverse()

In [15]:
l

[9, 8, 7, 6, 5, 4, 3, 2, 1]

4.	Sort a list of numbers in descending order using a built-in list method.

In [18]:
l = [4,2,7,4,8,5,9,56,67,78,]
l.sort()

In [19]:
l

[2, 4, 4, 5, 7, 8, 9, 56, 67, 78]

5.	Given two lists, combine them into a single list and remove any duplicate elements using a list method.

In [30]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
combined_list = list1 + list2  
unique_list = []  

for num in combined_list:
    if num not in unique_list:
        unique_list.append(num)

print(unique_list)

[1, 2, 3, 4, 5, 6, 7]

6.	Convert a tuple of integers into a list and remove the first and last elements using a tuple method.

In [78]:
my_tuple = (10, 20, 30, 40, 50)
modified_list = []
for i in range(1, len(my_tuple) - 1):
    modified_list.append(my_tuple[i])

print("Modified list after removing first and last elements:", modified_list)

Modified list after removing first and last elements: [20, 30, 40]

7.	Given a list of tuples, extract all the first elements of each tuple into a separate list using tuple unpacking.

In [49]:
list_of_tuples = [(10, 20), (30, 40), (50, 60), (70, 80)]
first_elements = [a for a, b in list_of_tuples]
print(first_elements)

[10, 30, 50, 70]

8.	Combine two tuples into a single tuple.

In [50]:
tuple1 = (10, 20, 30)
tuple2 = (40, 50, 60)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(10, 20, 30, 40, 50, 60)

9.	Find the maximum and minimum values in a tuple of numbers using tuple methods.

In [52]:
numbers = (3, 1, 6, 8, 2, 9)
maximum_value = max(numbers)
minimum_value = min(numbers)

print("Maximum value:", maximum_value)
print("Minimum value:", minimum_value)

Maximum value: 9
Minimum value: 1


10.	Convert a tuple of strings into a single string, with each element separated by a comma, using tuple methods.

In [54]:
words = ("apple", "banana", "cherry", "date")
result = ", ".join(words)

print("Resulting string:", result)

Resulting string: apple, banana, cherry, date

11.	Given two sets, return the union of the two sets using a set operation.

In [58]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set1 = set1.union(set2)

union_set2 = set1 | set2

print("Union using union() method:", union_set1)
print("Union using | operator:", union_set2)

Union using union() method: {1, 2, 3, 4, 5, 6}
Union using | operator: {1, 2, 3, 4, 5, 6}

12.	Find the intersection of two sets using a set method.

In [60]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection_set1 = set1.intersection(set2)

intersection_set2 = set1 & set2

print("Intersection using intersection() method:", intersection_set1)
print("Intersection using & operator:", intersection_set2)

Intersection using intersection() method: {3, 4}
Intersection using & operator: {3, 4}

13.	Remove all elements from one set that are also present in another set using a set method.

In [62]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 6, 7}

set1.difference_update(set2)

print("Modified set1 after removing elements:", set1)

Modified set1 after removing elements: {1, 2, 5}


14.	Find the difference between two sets using a set method.

In [64]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 6, 7}
difference_set1 = set1.difference(set2)

difference_set2 = set1 - set2

print("Difference using difference() method:", difference_set1)
print("Difference using - operator:", difference_set2)

Difference using difference() method: {1, 2, 5}
Difference using - operator: {1, 2, 5}

15.	Convert a list of integers into a set and then back to a list to remove duplicates, using set operations.

In [71]:
int_list = [1, 2, 3, 4, 2, 1, 5, 3, 6]
int_set = set(int_list)

unique_list = []
for item in int_set:
    unique_list.append(item)

print("Original list:", int_list)
print("Unique list after removing duplicates:", unique_list)

Original list: [1, 2, 3, 4, 2, 1, 5, 3, 6]
Unique list after removing duplicates: [1, 2, 3, 4, 5, 6]

16.	Merge two dictionaries into a single dictionary using a dictionary method.

In [73]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

dict1.update(dict2)

print("Merged dictionary using update():", dict1)

Merged dictionary using update(): {'a': 1, 'b': 3, 'c': 4}

17.	Extract all values from a dictionary into a list using a dictionary method.

In [76]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
values_list = []
for value in my_dict.values():
    values_list.append(value)

print("Extracted values using a loop:", values_list)

Extracted values using a loop: [1, 2, 3, 4]